<!DOCTYPE html>
<html lang="en" xml:lang="http://thymeleaf.org" xmlns:th="http://www.springframework.org/schema/jdbc">

<head>
  <object th:include="fragments/fragment :: head"></object>
</head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
    <!-- Internet Connection Status -->
    <!-- # This code for showing internet connection status -->
    <div class="internet-connection-status" id="internetStatus"></div>
    <!-- # Sidenav Left -->
    <!-- Offcanvas -->
    <!-- Header Area -->
    <div class="header-area" id="headerArea">
      <div class="container">
        <!-- Header Content -->
        <div class="header-content header-style-five position-relative d-flex align-items-center justify-content-between">
          <!-- Back Button -->
          <div class="back-button"><a href="javascript:history.back()">
              <svg class="bi bi-arrow-left-short" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
              </svg></a></div>
          <!-- Page Title -->
          <div class="page-heading">
            <h6 class="mb-0">Bad Request</h6>
          </div>
          <!-- Navbar Toggler -->
        </div>
      </div>
    </div>
    <!-- Page Content Wrapper -->
    <div class="page-content-wrapper py-3">
      <div class="custom-container">
        <div class="card">
          <div class="card-body px-5 text-center"><img class="mb-4" src="img/bg-img/39.jpg" alt="">
            <h4>400 Bad Request <br> Terjadi kesalahan!</h4>
            <p class="mb-4">Harap perhatikan request yang anda kirim.</p><a class="btn btn-creative btn-danger" href="/">Go to Home</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Nav -->
    <!-- Bottom Align Modal Create Balita -->
    <!-- All JavaScript Files -->
    <object th:include="fragments/fragment :: js"></object>
  </body>
</html>