<!DOCTYPE html>
<html lang="en" xml:lang="http://thymeleaf.org" xmlns:th="http://www.springframework.org/schema/jdbc">

<head>
    <object th:include="fragments/fragment :: head"></object>
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
</div>
<!-- Internet Connection Status -->
<!-- # This code for showing internet connection status -->
<div class="internet-connection-status" id="internetStatus"></div>
<!-- Back Button-->
<div class="login-back-button"><a th:href="@{/login}">
    <svg class="bi bi-arrow-left-short" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
    </svg></a></div>

<!-- Login Wrapper Area -->
<div class="login-wrapper d-flex align-items-center justify-content-center">
    <div class="custom-container">
        <div class="form-group">
            <label class="form-label" >Nama</label>
            <input class="form-control" th:value="${user.name}" type="text" readonly>
        </div>
        <div class="form-group">
            <label class="form-label" >Email</label>
            <input class="form-control" th:value="${user.email}" type="text" readonly>
        </div>
        <div class="form-group">
            <label class="form-label" >Nomor Telepon</label>
            <input class="form-control" th:value="${user.phone}"  type="text"  readonly>
        </div>
        <div class="form-group">
            <label class="form-label" >Gender</label>
            <input class="form-control" th:if="${user.gender==0}"  th:value="Perempuan"  readonly>
            <input class="form-control" th:if="${user.gender==1}"  th:value="Laki-Laki"   readonly>
        </div>
        <div class="form-group">
            <label class="form-label" >Alamat</label>
            <input class="form-control" th:value="${user.address}"  type="text"  readonly>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="direction-rtl"><a class="btn m-1 btn-round btn-info" th:href="@{/user/profil/ubah/} + ${user.username}">Edit Profil</a>
            </div>
        </div>
    </div>
</div>
<!-- Bottom NavBar -->
<object th:include="fragments/bottom-bar"></object>
<!-- All JavaScript Files -->
<object th:include="fragments/fragment :: js"></object>
</body>
</html>