<!DOCTYPE html>
<html lang="en" xml:lang="http://thymeleaf.org" xmlns:th="http://www.springframework.org/schema/jdbc">

<head>
  <object th:include="fragments/fragment :: head"></object>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
      <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
    <!-- Internet Connection Status -->
    <!-- # This code for showing internet connection status -->
    <div class="internet-connection-status" id="internetStatus"></div>
    <!-- Header Area-->
    <div class="header-area" id="headerArea">
      <div class="container">
        <!-- Header Content-->
        <div class="header-content header-style-five position-relative d-flex align-items-center justify-content-between">
          <!-- Back Button-->
          <div class="back-button"><a th:href="@{/}">
              <svg class="bi bi-arrow-left-short" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
              </svg></a></div>
          <!-- Page Title-->
          <div class="page-heading">
            <h6 class="mb-0">Detail Pertumbuhan</h6>
          </div>
          <!-- Navbar Toggler-->
          <div><span class="d-block"></span><span class="d-block"></span><span class="d-block"></span></div>
        </div>
      </div>
    </div>
    <div class="page-content-wrapper py-3">
      <!-- Pagination-->
      <div class="shop-pagination pb-3">
          <!-- Toast Message-->
        <div class="container">
            <div th:if="${msgCreateSc}" class="toast toast-autohide custom-toast-1 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="8000" data-bs-autohide="true">
                <div class="toast-body">
                    <div class="toast-text ms-3 me-2">
                        <p class="mb-0 text-center" th:text="${msgCreateSc}"></p>
                    </div>
                </div>
                <button class="btn btn-close position-absolute p-1" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div th:if="${msgCreateEr}" class="toast toast-autohide custom-toast-1 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="8000" data-bs-autohide="true">
                <div class="toast-body">
                    <div class="toast-text ms-3 me-2">
                        <p class="mb-0 text-center" th:text="${msgCreateEr}"></p>
                    </div>
                </div>
                <button class="btn btn-close position-absolute p-1" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          <div class="card">
            <div class="card-body p-2">
              <div class="d-flex align-items-center justify-content-between"><big th:text="'Halo, ' + ${balita.name} +'!' " class="ms-1"> </big>
              </div>
              <div class="d-flex align-items-center justify-content-between"><small th:text="'Umur kamu sekarang adalah '+${tahun}+ ' tahun ' + ${bulan} +' bulan'" class="ms-1"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- Slider Diagnosis -->
            <div class="container px-0">
                <div class="tiny-slider-three-wrapper">
                    <div class="tiny-slider-three">
                        <!-- Single Hero Slide -->
                        <div>
                            <div class="single-hero-slide bg-img">
                                <div class="slide-content" th:style="'background-image: url('+ @{/img/bg-img/18.jpg} +');'">
                                    <h2 class="text-white">Berat berdasarkan umur</h2>
                                    <h1 th:text="${listDiagnosis[0]}" class="text-white mb-5 fw-bold"></h1>
                                </div>
                            </div>
                        </div>
                        <!-- Single Hero Slide -->
                        <div>
                            <div class="single-hero-slide bg-img">
                                <div class="slide-content" th:style="'background-image: url('+ @{/img/bg-img/black-bg.jpg} +');'">
                                    <h2 class="text-white">Tinggi berdasarkan umur</h2>
                                    <h1 th:text="${listDiagnosis[1]}" class="text-white mb-5 fw-bold"></h1>
                                </div>
                            </div>
                        </div>
                        <!-- Single Hero Slide -->
                        <div>
                            <div class="single-hero-slide bg-img">
                                <div class="slide-content" th:style="'background-image: url('+ @{/img/bg-img/black-bg.jpg} +');'">
                                    <h2 class="text-white">Index Massa Tubuh</h2>
                                    <h1 th:text="${listDiagnosis[2]}" class="text-white mb-5 fw-bold"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



      <!-- Top Products-->
      <div class="top-products-area product-list-wrap">
        <div class="container">
          <div class="row g-3">

            <!-- Single Top Product Card-->
            <div class="col-12">
              <div class="card single-product-card">


                                    <!-- Table Detail-->
                  <div class="container">
                      <div class="card">
                          <div class="card-body">
                              <table class="table mb-0 table-hover">
                                  <thead>
                                  <tr>
                                      <th scope="col">Kriteria</th>
                                      <th scope="col">Data</th>
                                      <th scope="col">Status</th>
                                      <th scope="col">Deskripsi</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <th scope="row">Berat Badan per Umur</th>
                                      <td th:text="${pertumbuhan.berat_badan} +' Kg'"></td>
                                      <td th:text="${listDiagnosis[0]}"></td>
                                      <td th:text="${listDeskripsiDiagnosis[0]}"></td>
                                  </tr>
                                  <tr>
                                      <th scope="row">Tinggi Badan per Umur</th>
                                      <td th:text="${pertumbuhan.tinggi_badan} +' cm'"></td>
                                      <td th:text="${listDiagnosis[1]}"></td>
                                      <td th:text="${listDeskripsiDiagnosis[1]}"></td>
                                  </tr>
                                  <tr>
                                      <th scope="row">Indeks Masa Tubuh</th>
                                      <td th:text="${imt}"></td>
                                      <td th:text="${listDiagnosis[2]}"></td>
                                      <td th:text="${listDeskripsiDiagnosis[2]}"></td>
                                  </tr>
                                  <tr>
                                      <th scope="row">Berat Badan per Tinggi Badan</th>
                                      <td th:text="${imt}"></td>
                                      <td th:text="${listDiagnosis[3]}"></td>
                                      <td th:text="${listDeskripsiDiagnosis[3]}"></td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Bottom Align Modal Create Balita -->
    <!-- Footer Nav -->
    <object th:include="fragments/bottom-bar"></object>
    <!-- All JavaScript Files -->
    <object th:include="fragments/fragment :: js"></object>
  </body>
</html>