<!DOCTYPE html>
<html lang="en" xml:lang="http://thymeleaf.org" xmlns:th="http://www.springframework.org/schema/jdbc">

<head>
    <object th:include="fragments/fragment :: head"></object>
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
</div>
<!-- Internet Connection Status -->
<!-- # This code for showing internet connection status -->
<div class="internet-connection-status" id="internetStatus"></div>
<!-- Header Area-->
<div class="offcanvas offcanvas-start" id="affanOffcanvas" data-bs-scroll="true" tabindex="-1" aria-labelledby="affanOffcanvsLabel">
</div>
<div class="header-area" id="headerArea">
    <div class="container">
        <!-- Header Content-->
        <div class="header-content header-style-five position-relative d-flex align-items-center justify-content-between">
            <!-- Page Title-->
            <div class="page-heading">
                <h6 class="mb-0" th:text="${user.name}"></h6>
            </div>
        </div>
    </div>
</div>
<!-- Content Area-->
<div class="page-content-wrapper py-3">
    <div class="container">
        <!-- Informasi Balita -->
        <div th:unless="${empty}" class="card user-info-card mb-3">
            <div class="card-body d-flex align-items-center">
                <!-- Should be avatar balita -->
                <div class="user-profile me-3"><img th:src="@{/img/core-img/bayi.png}" alt=""></div>
                <!-- Should be dynamic data, link at active balita -->
                <div class="user-info">
                    <div class="d-flex align-items-center">
                        <h5 th:text="${balita.name}" class="mb-1"></h5><span class="badge bg-success ms-2 rounded-pill">Active</span>
                    </div>
                    <p th:text="${umur}" class="mb-0"></p>
                    <p th:text="${balita.gender == 0} ? 'Perempuan' : 'Laki-laki'" class="mb-0"></p>
                </div>
            </div>
        </div>
        <div th:if="${empty}" class="card user-info-card mb-3">
            <div class="card-body d-flex align-items-center">
                <!-- Should be avatar balita -->
                <div class="user-profile me-3"><img th:src="@{/img/core-img/bayi.png}" alt=""></div>
                <!-- Should be dynamic data, link at active balita -->
                <div class="user-info">
                    <p class="mb-0">Belum mendaftarkan balita</p>
                </div>
            </div>
        </div>
        <div th:if="${passSuccess}" class="toast toast-autohide custom-toast-1 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="8000" data-bs-autohide="true">
            <div class="toast-body">
                <div class="toast-text ms-3 me-2">
                    <p class="mb-0 text-center" th:text="${passSuccess}"></p>
                </div>
            </div>
            <button class="btn btn-close position-absolute p-1" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <!-- List Opsi Profil-->
        <div class="card">
            <div class="card-body p-3">
                <!-- Page Item --><a class="affan-page-item" th:href="@{/detail-profil}">
                <div class="icon-wrapper"><i class="bi bi-person"></i></div>Lihat Profil<i class="bi bi-chevron-right"></i></a>
                <!-- Page Item --><a class="affan-page-item" th:href="@{/profil/ubah-password/}">
                <div class="icon-wrapper"><i class="bi bi-lock"></i></div>Ubah Kata Sandi<i class="bi bi-chevron-right"></i></a>
                <!-- Page Item --><a class="affan-page-item" th:href="@{/balita}">
                <div class="icon-wrapper"><i class="bi bi-person"></i></div>Daftar Anak<i class="bi bi-chevron-right"></i></a>
                <!-- Page Item --><a class="affan-page-item" th:href="'http://api.whatsapp.com/send?phone='+${noTelpFaskes}">
                <div class="icon-wrapper"><i class="bi bi-phone"></i></div>Kontak Faskes<i class="bi bi-chevron-right"></i></a>
                <!-- Page Item --><i class="affan-page-item">
                <div class="icon-wrapper"><i class="bi bi-moon"></i></div>Night Mode<i><input class="justify-content-end bi form-check form-switch form-check-input form-check-success" id="darkSwitch" type="checkbox"></i></i>
            </div>
        </div>
        <button class="btn btn-danger w-100" type="button" data-bs-toggle="modal" data-bs-target="#bootstrapBasicModal">Keluar Akun</button>
    </div>

    <div class="modal fade" id="bootstrapBasicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Keluar Akun</h6>
                    <button class="btn btn-close p-1 ms-auto" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">Apakah anda yakin akan logout dari akun anda?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                    <a href="/logout" class="btn btn-sm btn-danger">Keluar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bottom NavBar -->
<div th:replace="fragments/bottom-bar :: footer('Profil')"></div>
<!-- All JavaScript Files -->
<object th:include="fragments/fragment :: js"></object>
</body>
</html>