<!DOCTYPE html>
<html lang="en" xml:lang="http://thymeleaf.org" xmlns:th="http://www.springframework.org/schema/jdbc">

<head>
    <object th:include="fragments/fragment :: head"></object>
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
    <!-- Internet Connection Status -->
    <!-- # This code for showing internet connection status -->
    <div class="internet-connection-status" id="internetStatus"></div>
    <!-- Header Area-->
    <div class="header-area" id="headerArea">
        <div class="container">
            <!-- Header Content-->
            <div class="header-content header-style-five position-relative d-flex align-items-center justify-content-between">
                <!-- Back Button-->
                <div class="back-button"><a href="javascript:history.back()">
                    <svg class="bi bi-arrow-left-short" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
                    </svg></a></div>
                <!-- Page Title-->
                <div class="page-heading">
                    <h6 class="mb-0">Daftar Balita</h6>
                </div>
                <!-- Navbar Toggler-->
                <div><span class="d-block"></span><span class="d-block"></span><span class="d-block"></span></div>
            </div>
        </div>
    </div>
    <!-- Page Balita Exist-->
    <div th:if="${emptyBalita == 0}" class="page-content-wrapper py-3">
        <div class="top-products-area product-list-wrap">
            <div class="container">
                <!-- Toast Message -->
                <div th:if="${msgCreateSc}" class="justify-content-center toast toast-autohide custom-toast-1 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="8000" data-bs-autohide="true">
                    <div class="toast-body">
                        <div class="toast-text ms-3 me-2">
                            <p class="mb-0 text-center" th:text="${msgCreateSc}"></p>
                        </div>
                    </div>
                    <button class="btn btn-close position-absolute p-1" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div th:if="${msgCreateEr}" class="toast toast-autohide custom-toast-1 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="8000" data-bs-autohide="false">
                    <div class="toast-body">
                        <div class="toast-text ms-3 me-2">
                            <p class="mb-0 text-center" th:text="${msgCreateEr}"></p>
                        </div>
                    </div>
                    <button class="btn btn-close position-absolute p-1" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div th:if="${msgUpdateSc}" class="toast toast-autohide custom-toast-1 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="8000" data-bs-autohide="false">
                    <div class="toast-body">
                        <div class="toast-text ms-3 me-2">
                            <p class="mb-0 text-center" th:text="${msgUpdateSc}"></p>
                        </div>
                    </div>
                    <button class="btn btn-close position-absolute p-1" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div th:if="${msgUpdateEr}" class="toast toast-autohide custom-toast-1 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="8000" data-bs-autohide="false">
                    <div class="toast-body">
                        <div class="toast-text ms-3 me-2">
                            <p class="mb-0 text-center" th:text="${msgUpdateEr}"></p>
                        </div>
                    </div>
                    <button class="btn btn-close position-absolute p-1" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div th:if="${msgDelete}" class="toast toast-autohide custom-toast-1 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="8000" data-bs-autohide="false">
                    <div class="toast-body">
                        <div class="toast-text ms-3 me-2">
                            <p class="mb-0 text-center" th:text="${msgDelete}"></p>
                        </div>
                    </div>
                    <button class="btn btn-close position-absolute p-1" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <!-- List Balita -->
                <div class="row g-3">
                    <div th:each="balita, iter : ${listBalita}" class="col-12">
                        <div class="card single-product-card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <!-- Should be avatar balita -->
                                    <div class="card-side-img">
                                        <div class="user-profile me-3"><img th:src="@{/img/core-img/bayi.png}" alt=""></div>
                                    </div>
                                    <div class="card-content px-4 py-2">
                                        <!-- Balita Title-->
                                        <div class="user-info">
                                            <div class="d-flex align-items-center">
                                                <a th:if="${balita.getStatus == 1}" th:text="${balita.name}" class="product-title d-block text-truncate mt-0" data-bs-toggle="modal" ></a><span th:if="${balita.getStatus == 1}" class="badge bg-success ms-2 rounded-pill">Active</span>
                                                <button th:if="${balita.getStatus == 0}" th:text="${balita.name}" class="product-title d-block text-truncate mt-0" style="background: transparent; border: none !important;" data-bs-toggle="modal" th:attr="data-bs-target='#modalActive'+${iter.index}"></button>
                                            </div>
                                            <!-- Detail Balita -->
                                            <p th:text="${balita.gender == 0} ? 'Perempuan' : 'Laki-laki'" class="sale-price"></p><p th:text="${listAge[iter.index]}"></p>
                                            <!-- Add Button-->
                                            <a class="btn m-1 btn-round btn-primary"  data-bs-toggle="modal" th:attr="data-bs-target='#bottomAlignModalUpdate'+${iter.index}">Ubah</a>
                                            <a class="btn m-1 btn-round btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#modalDelete'+${iter.index}">Hapus</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Activate/NonActive Balita Modal -->
                        <div class="modal fade" th:id="'modalActive' + ${iter.index}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body ">
                                        <div class="d-flex justify-content-center align-items-center my-3">
                                            <h6 class="modal-title text-center" id="modalActiveLabel" th:text="'Apakah anda ingin mengaktifkan data ' + ${balita.name} + '?'"></h6>
                                        </div>
                                        <div class="d-flex justify-content-center my-3">
                                            <button class="btn btn-sm btn-secondary" style="width: 150px; margin-right: 10px;" data-bs-dismiss="modal">Batal</button>
                                            <a th:href="@{/balita/status/} + ${balita.id_balita}" class="btn btn-sm btn-success" style="width: 150px;">Aktifkan</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Bottom Align Modal Update Balita -->
                        <div class="modal fade bottom-align-modal" th:id="'bottomAlignModalUpdate' + ${iter.index}" tabindex="-1" aria-labelledby="bottomAlignModalUpdateLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-end">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="bottomAlignModalUpdateLabel">Ubah Data Anak</h5><br>
                                        <button class="btn btn-close p-1 ms-auto" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form th:action="@{/balita/edit} " th:object="${balita}" method="POST">
                                        <input th:value="*{id_balita}" type="hidden" name="id_balita">
                                        <input th:value="*{id_pengguna}" type="hidden" name="id_pengguna">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="form-label" for="inputName">Nama Lengkap</label>
                                                <input th:value="*{name}" class="form-control" id="inputName" type="text" placeholder="Nama Lengkap" name="name" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="inputBirthDateUpdate">Tanggal Lahir</label>
                                                <input type="date" th:value="*{birth_date}" class="form-control" id="inputBirthDateUpdate" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="inputGenderUpdate">Jenis Kelamin</label>
                                                <input th:value="*{gender == 0} ? 'Perempuan' : 'Laki-laki'" class="form-control" id="inputGenderUpdate" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="inputNik">NIK</label>
                                                <input th:value="*{nik}" class="form-control" id="inputNik" type="text" placeholder="NIK" name="nik">
                                            </div>
                                            <div class="input-group mb-3">
                                                <input th:value="*{berat_badan_lahir}" placeholder="Berat badan lahir (Dalam KG)" class="form-control" id="beratBadanLahir" type="text" name="berat_badan_lahir">
                                                <input th:value="*{tinggi_badan_lahir}" placeholder="Tinggi badan lahir (Dalam CM)"  class="form-control" id="tinggiBadanLahir" type="text" name="tinggi_badan_lahir">
                                            </div>
                                            <div class="form-group">
                                                <input th:value="*{imd == 0} ? 'false' : 'true'" id="IMDEdit" type="checkbox" name="imd">
                                                <label class="form-label" for="IMDEdit">Inisasi Menyusui Dini</label> <br>
                                                <input th:value="*{kia == 0} ? 'false' : 'true'" id="KIAEdit" type="checkbox" name="kia">
                                                <label class="form-label" for="KIAEdit">Sudah memiliki buku KIA</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-sm btn-danger" type="button" data-bs-dismiss="modal">Batal</button>
                                            <button class="btn btn-sm btn-success" type="submit">Simpan</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Delete Balita Modal -->
                        <div class="modal fade" th:id="'modalDelete' + ${iter.index}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body ">
                                        <div class="d-flex justify-content-center align-items-center my-3">
                                            <h6 class="modal-title text-center" id="modalDeleteLabel" th:text="'Apakah anda yakin ingin menghapus data ' + ${balita.name} + '?'"></h6>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center my-3">
                                            <p class="mb-0 text-center">Semua data anak akan terhapus permanen</p>
                                        </div>
                                        <div class="d-flex justify-content-center my-3">
                                            <button class="btn btn-sm btn-secondary" style="width: 150px; margin-right: 10px;" data-bs-dismiss="modal">Batal</button>
                                            <a th:href="@{/balita/delete/} + ${balita.id_balita}" class="btn btn-sm btn-success" style="width: 150px;">Hapus</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn-circle btn-lg bi-plus" style="background-color: #338A94; color: white" data-bs-toggle="modal" data-bs-target="#bottomAlignModal"></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Empty Balita -->
    <div th:if="${emptyBalita == 1}" class="page-content-wrapper py-3">
        <div class="custom-container">
            <div th:if="${msgCreateEr}" class="toast toast-autohide custom-toast-1 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="8000" data-bs-autohide="false">
                <div class="toast-body">
                    <div class="toast-text ms-3 me-2">
                        <p class="mb-0 text-center" th:text="${msgCreateEr}"></p>
                    </div>
                </div>
                <button class="btn btn-close position-absolute p-1" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="card">
                <div class="card-body px-5 text-center"><img class="mb-4" src="img/bg-img/39.png" alt="">
                    <h4>Data Balita Masih Kosong!</h4>
                    <p class="mb-4">Yuk Tambah Balita Untuk Menggunakan Fitur Simonita!</p><a class="btn btn-creative btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#bottomAlignModal">Tambah Balita</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Align Modal Create Balita -->
    <div class="modal fade bottom-align-modal" id="bottomAlignModal" tabindex="-1" aria-labelledby="bottomAlignModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-end">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bottomAlignModalLabel">Tambah Data Anak</h5><br>
                    <button class="btn btn-close p-1 ms-auto" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/balita}" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-label" for="inputName">Nama Lengkap</label><span style="color: red">*</span>
                            <input class="form-control" id="inputName" type="text" placeholder="Nama Lengkap" name="name" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="inputBirthDate">Tanggal Lahir</label><span style="color: red">*</span>
                            <input class="form-control" id="inputBirthDate" type="date" placeholder="Tanggal Lahir" name="birth_date" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="inputGender">Jenis Kelamin</label><span style="color: red">*</span>
                            <select name="gender" class="form-control" id="inputGender" required>
                                <option selected value =""> -- Pilih Jenis Kelamin -- </option>
                                <option th:value=0 th:text="Perempuan"></option>
                                <option th:value=1 th:text="Laki-Laki"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="inputNik">NIK</label>
                            <input class="form-control" id="inputNik" type="text" placeholder="NIK" name="nik">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="beratBadanLahir">Berat dan Tinggi Badan Lahir</label><span style="color: red">*</span>
                            <div class="input-group mb-3">
                                <input placeholder="Berat badan lahir (Dalam KG)" class="form-control" id="beratBadanLahir" type="text" name="berat_badan_lahir" required>
                                <input placeholder="Tinggi badan lahir (Dalam CM)"  class="form-control" id="tinggiBadanLahir" type="text" name="tinggi_badan_lahir" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="IMD" type="checkbox" name="imd" value="true">
                            <input id="IMDHidden" type="hidden" name="imd" value="false">
                            <label class="form-label" for="IMD">Inisasi Menyusui Dini</label> <br>
                            <input id="kia" type="checkbox" name="kia" value="true">
                            <input id="kiaHidden" type="hidden" name="kia" value="false">
                            <label class="form-label" for="kia">Sudah memiliki buku KIA</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-danger" type="button" data-bs-dismiss="modal">Batal</button>
                        <button class="btn btn-sm btn-success" type="submit">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer Nav -->
    <div th:replace="fragments/bottom-bar :: footer('Profil')"></div>
    <!-- All JavaScript Files -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/slideToggle.min.js"></script>
    <script src="js/internet-status.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/rangeslider.min.js"></script>
    <script src="js/vanilla-dataTables.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/magic-grid.min.js"></script>
    <script src="js/dark-rtl.js"></script>
    <script src="js/active.js"></script>
    <script>
        if(document.getElementById("IMD").checked) {
            document.getElementById('IMDHidden').disabled = true;
        }if(document.getElementById("kia").checked) {
            document.getElementById('kiaHidden').disabled = true;
        }
    </script>
    <script>
        console.log(document.getElementById("IMDEdit").value)
        console.log(document.getElementById("KIAEdit").value)
        if (document.getElementById("IMDEdit").value == "true"){
            console.log("Masuk");
            document.getElementById('IMDEdit').checked = true;
        }if (document.getElementById("KIAEdit").value == "true"){
            console.log("Masuk2");
            document.getElementById('KIAEdit').checked = true;
        }
    </script>
    <!-- PWA -->
    <script src="js/pwa.js"></script>
</body>
</html>