<!DOCTYPE html>
<html lang="en" xml:lang="http://thymeleaf.org" xmlns:th="http://www.springframework.org/schema/jdbc">

<head>
  <object th:include="fragments/fragment :: head"></object>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
      <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
    <!-- Internet Connection Status -->
    <!-- # This code for showing internet connection status -->
    <div class="internet-connection-status" id="internetStatus"></div>
    <!-- Header Area-->
    <div class="header-area" id="headerArea">
      <div class="container">
        <!-- Header Content-->
        <div class="header-content header-style-five position-relative d-flex align-items-center justify-content-between">
          <!-- Back Button-->
          <div class="back-button"><a th:href="@{/}">
              <svg class="bi bi-arrow-left-short" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
              </svg></a></div>
          <!-- Page Title-->
          <div class="page-heading">
            <h6 class="mb-0">Pertumbuhan</h6>
          </div>
          <!-- Navbar Toggler-->
          <div><span class="d-block"></span><span class="d-block"></span><span class="d-block"></span></div>
        </div>
      </div>
    </div>
    <div class="page-content-wrapper py-3">
      <!-- Pagination-->
      <div class="shop-pagination pb-3">
        <div class="container">
          <div class="card">
            <div class="card-body p-2">
              <div class="d-flex align-items-center justify-content-between"><big th:text="'Halo, ' + ${balita.name} +'!' " class="ms-1"> </big>
              </div>
              <div class="d-flex align-items-center justify-content-between"><small th:text="'Umur kamu sekarang adalah '+${tahun}+ ' tahun ' + ${bulan} +' bulan'" class="ms-1"></small>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="standard-tab">
                        <ul class="nav rounded-lg mb-2 p-2 shadow-sm" id="affanTabs1" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a th:href="@{/pertumbuhan}" class="btn btn-dark nav-link" id="dark-tab" data-bs-toggle="tab" data-bs-target="#dark" role="tab" aria-controls="dark" aria-selected="false">Pertumbuhan</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a th:href="@{/pertumbuhan/riwayat}" class="btn btn-dark nav-link active" id="dark-tab" data-bs-toggle="tab" data-bs-target="#dark" role="tab" aria-controls="dark" aria-selected="true">Riwayat</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      <!-- Top Products-->
      <div class="top-products-area product-list-wrap">
        <div class="container">
          <div class="row g-3">

            <!-- Single Top Product Card-->
            <div th:each="pertumbuhan: ${balita.listPertumbuhan}" class="col-12">
              <div class="card single-product-card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
<!--                    <div class="card-side-img">-->
<!--                      &lt;!&ndash; Product Thumbnail&ndash;&gt;<a class="product-thumbnail d-block" href="page-shop-details.html"><img src="img/bg-img/p1.jpg" alt="">-->
<!--                        &lt;!&ndash; Badge&ndash;&gt;<span class="badge bg-primary">Sale</span></a>-->
<!--                    </div>-->
                    <div class="card-content px-4 py-2">
                      <!-- Product Title--><a th:text="${pertumbuhan.input_age} + ' bulan'" class="product-title d-block text-truncate mt-0" th:href="@{/pertumbuhan/detail/} + ${pertumbuhan.id_pertumbuhan}"></a>
                      <!-- Product Price-->
                      <p class="sale-price" th:text="'Waktu Pengisian: ' + ${pertumbuhan.input_date}"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Pagination-->
      <div class="shop-pagination pt-3">
        <div class="container">
          <div class="card">
            <div class="card-body py-3">
              <nav aria-label="Page navigation example">
                <ul class="pagination pagination-two justify-content-center">
                  <li class="page-item"><a class="page-link" href="#" aria-label="Previous">
                      <svg class="bi bi-chevron-left" width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
                      </svg></a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">9</a></li>
                  <li class="page-item"><a class="page-link" href="#" aria-label="Next">
                      <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                      </svg></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Nav -->
    <object th:include="fragments/bottom-bar"></object>
    <!-- All JavaScript Files -->
    <object th:include="fragments/fragment :: js"></object>
  </body>
</html>